<div class="w3-card-2 w3-center">
  <div class="panel panel-default effect5">
    <h3 class="masked">Busca algo en nuestra Cámara.</h3>
    <div class="panel-body ">
      <!-- input type="text" class="typeahead tt-query  w3-animate-input" autocomplete="off" spellcheck="false" placeholder="Introducir Texto"-->
      <ng2-completer [datasource]="dataService" [minSearchLength]="0" placeholder="Introducir Texto" name="search" type="text" class="completer-input w3-centered" (click)="cargarBuscador($event)" (selected)="moveToProducto($event)"></ng2-completer>
    </div>
  </div>
</div>
