<!DOCTYPE html>
<html>
<head>
    <meta httpequiv="ContentType" content="text/html; charset=ISO-8859-1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <base href="~/" />
    <link rel="stylesheet" href="~/dist/css/main.css" asp-append-version="true"  />
    <link rel="stylesheet" href="~/dist/css/w3.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/font-awesome.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/css/ie8.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" />
    <meta name=”keywords” content=”charcuteria,carniceria,murcia,carne,elaborados,conejo,higado,Murcia” />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Carnicería Charcutería en Murcia : Productos murcianos Carniceria Felipe." />
    <meta property="og:title" content="Carnicería Charcutería en Murcia - Carniceria Felipe" />
    <meta property="og:description" content="Carnicería Charcutería Felipe: Productos murcianos." />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="https://www.carniceriafelipe.com/" />
    <meta property="og:image" content="https://www.carniceriafelipe.com/images/portada.jpg" />
    <meta property="twitter:site" content="@@carniceria_murcia_com" />
    <meta property="twitter:creator" content="@@carniceria_murcia_com" />
    <meta property="twitter:title" content="Carnicería Charcutería Felipe Murcia" />
    <meta property="twitter:description" content="Carnicería Charcutería en Murcia: Productos Murcianos Felipe." />
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:image" content="https://www.carniceriafelipe.com" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
