<div class="sandbox sandbox-correct-pronounciation">
    <h1 class="heading heading-correct-pronounciation">
        Los
        <em>Especiales</em>
        de Hoy
    </h1>
</div>
<!-- Features -->
<div id="features-wrapper">
    <div class="container">

        <div class="row">

            <div class="4u 12u(medium)">
                
                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="../../../assets/images/bar/1-bar.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Pechuga pavo</h2>
                            <p>Artículo de peso variable.</p>
                        </header>
                        <p>Se vende por peso. Ideal para hacer a la plancha o rebozada.</p>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="../../../assets/images/bar/2-bar.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Conejo Tierno</h2>
                            <p>Artículo de peso variable.</p>
                        </header>
                        <p>Se vende por unidades. Una unidad pesa aprox. 1 Kg. Se lo preparamos como quiera. Ej: a cuartos; a trozos pequeños.</p>
                    </div>
                </section>

            </div>
            <div class="4u 12u(medium)">

                <!-- Box -->
                <section class="box feature">
                    <a href="#" class="image featured"><img src="../../../assets/images/bar/3-bar.jpg" alt="" /></a>
                    <div class="inner">
                        <header>
                            <h2>Pollo entero</h2>
                            <p>El peso aprox. de una pieza es de 2,2 Kgs</p>
                        </header>
                        <p>Se lo preparamos como prefiera. Ej: Pechugas para rebozar y muslos para la brasa.</p>
                    </div>
                </section>

            </div>
        </div>
    </div>
</div>
