<!-- Main -->
<div id="main-wrapper">
    <div class="container">
        <div class="row 200%">
            <div class="4u 12u(medium)">

                <!-- Sidebar -->
                <div id="sidebar">
                    <section class="widget thumbnails">
                        <h3>Ven a Conocernos</h3>
                        <div class="grid">
                            <div class="row 50%">
                                <div class="6u"><a href="#" class="image fit"><img src="../../../assets/images/bar/9-bar.jpg" alt="" ></a></div>
                                <div class="6u"><a href="#" class="image fit"><img src="../../../assets/images/bar/10-bar.jpg" alt="" ></a></div>
                                <div class="6u"><a href="#" class="image fit"><img src="../../../assets/images/bar/11-bar.jpg" alt="" ></a></div>
                                <div class="6u"><a href="#" class="image fit"><img src="../../../assets/images/bar/12-bar.jpg" alt="" ></a></div>
                            </div>
                        </div>
                        <a href="#" class="button icon fa-file-text-o">More</a>
                    </section>
                </div>

            </div>
            <div class="8u 12u(medium) important(medium)">

                <!-- Content -->
                <div id="content">
                    <section class="last">
                        <h2>El mejor trato</h2>
                        <p>
                            Estamos en <strong>Santa maria de gracia</strong>, somos una familia de carniceros y mataderos de Murcia, <a href="https://goo.gl/maps/7vJR7M4pp4E2" target="_blank">Carnicería Felipe</a>.
                          Porque te mereces la mejor carne y elaborados. Todas las semanas tenemos ofertas seleccionadas y cada día podrás disfrutar de productos al mejor precio.
                          ¡No te los puedes perder!
                        </p>
                        <p>Tras un largo recorrido en la cría y manejo de ganado vacuno y porcino estamos en disposición de ofrecer a nuestros clientes una carne única y de la más excelente calidad ya que se produce en un entorno único con unas condiciones idóneas para la obtención de una carne insuperable para el paladar más exigente.</p>
                        <!-->a href="#" class="button icon fa-arrow-circle-right">Continuar Leyendo</-->
                    </section>
                </div>

            </div>
        </div>
    </div>
</div>
