<!-- Footer -->
<div id="footer-wrapper">
    <footer id="footer" class="container">
        <div class="row">
            <div class="3u 6u(medium) 12u$(small)">

                <!-- Links -->
                <section class="widget links">
                    <h3>Sobre Nosotros</h3>
                    <ul class="style2">
                        <li><a href="#">Casí 100 años dando lo mejor</a></li>
                        <li><a href="#">Carnicería Felipe es una empresa</a></li>
                        <li><a href="#">especializada en el comercio al por menor  </a></li>
                        <li><a href="#">o venta de productos carnicos y sus derivados</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u 6u$(medium) 12u$(small)">

                <!-- Links -->
                <section class="widget links">
                    <h3>Contacta con nosotros</h3>
                    <ul class="style2">
                        <li><a href="#">Telefono : 647508186</a></li>
                        <li><a href="#">Whatsapp: 647508186 </a></li>
                        <li><a href="#">carniceriafelipe@gmail.com</a></li>
                        <li><a href="#">gomez@carniceriafelipe.com</a></li>
                        <li><a href="#">C\ Moncayo - Santa Maria de Gracia - Murcia</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u 6u(medium) 12u$(small)">

                <!-- Links -->
                <section class="widget links">
                    <h3>Zonas de Reparto</h3>
                    <ul class="style2">
                        <li><a href="#">Murcia</a></li>
                        <li><a href="#">El ranero</a></li>
                        <li><a href="#">San basilio</a></li>
                        <li><a href="#">La albatalia</a></li>
                        <li><a href="#">Comprueba si estamos en tu radio.</a></li>
                    </ul>
                </section>

            </div>
            <div class="3u 6u$(medium) 12u$(small)">

                <!-- Contact -->
                <section class="widget contact last">
                    <h3>Consultanos en google map</h3>
                    <a href="https://goo.gl/maps/7vJR7M4pp4E2" target="_blank">Ver mapa</a>
                    <!-->ul>
                        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
                        <li><a href="#" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
                        <li><a href="#" class="icon fa-pinterest"><span class="label">Pinterest</span></a></li>
                    </ul-->
                    <!--<p>
                        1234 Fictional Road<br />
                        Nashville, TN 00000<br />
                        (800) 555-0000
                    </p>-->
                </section>

            </div>
        </div>
        <div class="row">
            <div class="12u">
                <div id="copyright">
                    <ul class="menu">
                        <li>&copy; Carniciera Felipe. All rights reserved</li>
                        <li>Open Source: <a href="https://github.com/pikMR" target="_blank">pikMR</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</div>
