.modal-whatsapp {
    display: block;
    z-index: 900000;
}

    .modal-whatsapp .w3-modal-content {

        /* margin-top: 18.777777%;*/
    }

        .modal-whatsapp .w3-modal-content .w3-container h1 {
          /*  margin-left: 30%;*/
        }

.w3-container span {
    font-size: 40px !important;
    margin: 5px;
    background-color: rgba(300, 25, 25, 0.2);
}

#nodatos {
    margin: 150px auto;
    display: none;
}